.slideshow__center__readmore {
	background: rgba(27, 25, 23, 0.2);
	font-size: 13px;
	color: #fff;
	width: auto;
	height: 30px;
	display: inline-block;
	text-decoration: none;
	line-height: 30px;
	margin: 15px 0 0;
	cursor: pointer;
	padding:0px 18px;
	border: 1px solid rgba(255, 255, 255, 0.2); 
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
}