@font-face {
  font-family: 'CenturyGothicBold';
  src: url("../fonts/946379.eot");
  src: url("../fonts/946379.eot") format("embedded-opentype"), url("../fonts/946379.woff2") format("woff2"), url("../fonts/946379.woff") format("woff"), url("../fonts/946379.ttf") format("truetype"), url("../fonts/946379.svg#CenturyGothicBold") format("svg");
}
@font-face {
    font-family: 'a_futuraroundbold';
    src: url('../fonts/a_futuraround_bold-webfont.eot');
    src: url('../fonts/a_futuraround_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/a_futuraround_bold-webfont.woff2') format('woff2'),
         url('../fonts/a_futuraround_bold-webfont.woff') format('woff'),
         url('../fonts/a_futuraround_bold-webfont.ttf') format('truetype'),
         url('../fonts/a_futuraround_bold-webfont.svg#a_futuraroundbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) 
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #727272;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #727272;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #727272;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #727272;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input, textarea, input:focus, textarea:focus {
  outline: none;
  padding: 5px;
  color: #727272;
  font-size: 1.1em;
  font-style: italic;
  text-align: center;
}

input {
  width: 95%;
  margin: 0 auto;
  display: block;
  margin-bottom: 24px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 60px;
  padding: 15px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  min-height: 100%;
}

body {
  line-height: 1;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.b-sprite {
  background: url(../images/sprite.png) no-repeat;
}

.b-wrapper {
  min-width: 240px;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 5px;
}

.b-logo {
  text-align: center;
  background: rgba(212, 213, 243, 0.75);
  padding: 26px 0;
}
.b-logo a {
  display: block;
  margin: 0 auto;
}
.b-logo img {
  width: 80%;
  height: auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-family: 'CenturyGothicBold', 'Arial', sans-serif;
  font-size: 1.8em;
  padding-top: 20px;
  word-break: break-word;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-family: 'CenturyGothicBold', 'Arial', sans-serif;
  font-size: 1.7em;
  padding-top: 21px;
  line-height: 1.6em;
  font-weight: bold;
  word-break: break-word;
}

.b-screen_first {
  background: url(../images/bg-screen-1.jpg) no-repeat;
}
.b-screen_first__benefits {
  margin: 22px 0;
  /* background-position: -506px 0px; */
  /* background-size: 100% 100%; */
}
.b-screen_first__benefits li {
  padding: 6% 8% 6% 6%;
  background: url(../images/list.png) no-repeat;
  background-size: 100% 100%;
}
.b-screen_first__benefits img {
  float: left;
  width: 20%;
  height: auto;
  margin: 5% 5% 0 0;
}
.b-screen_first__benefits p {
  font-size: 1.1em;
  color: #393939;
  line-height: 1.4em;
}
.b-screen_first strong {
  padding-left: 6%;
  color: #6c5f2a;
  font-family: "Arial";
  font-size: 1.2em;
  font-weight: bold;
}
.b-screen_first__text {
  color: #000;
  font-size: 1.2em;
  padding-left: 6%;
  margin-top: 9px;
}
.b-screen_first__image {
  height: auto;
  width: 100%;
  margin-top: 30px;
}

.b-coupon {
  max-width: 446px;
  margin: 27px auto;
  padding-top: 31px;
  border: 1px solid rgba(110, 34, 119, 0.3);
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.21);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.21);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDQ0NiA5NjQiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MzViYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzMjlhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNDQ2IiBoZWlnaHQ9Ijk2NCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(bottom, #a935bb 0%, #9329a3 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a935bb), to(#9329a3));
  background-image: linear-gradient(bottom, #a935bb 0%, #9329a3 100%);
}
.b-coupon__benefits{
    margin-top: 45px;
}
.b-coupon__benefits-blue {
  background-image: url(../images/benefit-blue.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.b-coupon h3 {
  color: #ddf793;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'a_futuraroundbold', sans-serif;
}
.b-coupon__action-text {
  color: #ddf793;
  margin-bottom: 26px;
  text-align: center;
  display: block;
  font-size: 1.2em;
}
.b-coupon__price {
  position: relative;
  height: 168px;
  background-position: -10px -104px;
}
.b-coupon__price strong {
  display: block;
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 11px;
}
.b-coupon__price span {
  font-size: 2.2em;
}
.b-coupon__price span span {
  font-size: 0.6em;
  padding-left: 10px;
}
.b-coupon__price_old {
  padding: 10% 5%;
  position: absolute;
  display: block;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
}
.b-coupon__price_old strong {
  color: #ddf793;
}
.b-coupon__price_old span {
  color: #ddf793;
  position: relative;
}
.b-coupon__price_old>span:after {
  content: "";
  position: absolute;
  z-index: 10px;
  left: -10px;
  right: -10px;
  height: 3px;
  top: 45%;
  background: #ddf793;
}
.b-coupon__price_new {
  position: absolute;
  padding: 10% 5%;
  display: block;
  z-index: 10;
  top: 3px;
  bottom: 0;
  left: 51%;
  right: -1px;
  background: #fff;
}
.b-coupon__price_new strong {
  color: #f00;
}
.b-coupon__price_new span {
  color: #f00;
}
.b-coupon__total {
  text-align: center;
  color: #fff;
  padding: 17px 0 15px 0;
  font-size: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.b-coupon__total p {
  margin-bottom: 5px;
}
.b-coupon__form {
  text-align: center;
  padding: 20px 6px;
}
.b-coupon__form label {
  color: #fff;
  display: block;
  margin-bottom: 20px;
  font-size: 1em;
}
.b-coupon__form a {
  display: block;
  background-image: url(../images/btn-coupon.png);
  background-size: 100% 100%;
  padding: 10%;
  font-size: 1.7em;
  text-transform: uppercase;
  color: #2c2c2c;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: -10px;
}
.b-coupon__form p {
  color: #fff;
  padding: 0 20px;
  font-size: 1.1em;
  line-height: 1.1em;
}
.b-coupon__benefits {
  text-align: center;
  padding: 7% 0 14% 0;
}
.b-coupon__benefits strong, .b-coupon__benefits p {
  font-size: 1.7em;
  color: #fff;
  display: block;
  font-family: 'a_futuraroundbold';
}
.b-coupon__benefits p {
  margin-bottom: 5px;
}
.b-coupon__benefits strong {
  font-size: 1.7em;
}

.b-screen_second {
  padding: 15px;
  background: #fff;
}

.b-screen_third {
  background: #fff;
  text-align: center;
  margin-bottom: -33px;
}
.b-screen_third h4 {
  font-size: 1em;
  color: #6769b5;
  margin: 10px auto 14px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding-bottom: 21px;
  font-family: 'a_futuraroundbold';
  font-weight: bold;
}
.b-screen_third ul li p {
  color: #000;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0 9px;
  line-height: 1.3em;
  font-family: 'a_futuraroundbold';
}
.b-screen_third ul li p strong {
  font-weight: bold;
}
.b-screen_third li {
  padding: 20px 20px 27px 20px;
  margin-bottom: 1px;
}
.b-screen_third li:nth-child(2n+1) {
  background: #f3f3ff;
}
.b-screen_third img {
  width: 60%;
  height: auto;
  margin: 10px auto 17px;
}
.b-screen_fourth {
  margin-top: 30px;
  padding: 16px;
  background: url(../images/bg-screen-2.jpg) no-repeat;
}
.b-coupon__benefits_pink {
  margin: 0px auto;
  color: #fff;
  background-image: url(../images/benefit-pink.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.b-screen_fourth__header {
  position: relative;
  background-image: url(../images/header-4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 75px;
  text-align: center;
  padding: 20% 5% 49% 5%;
}
.b-screen_fourth__header__sign {
  position: absolute;
  z-index: 10;
  top: -50px;
  left: 50%;
  margin-left: -15%;
  width: 30%;
  height: auto;
  background-position: -708px -1066px;
}
.b-coupon__benefits.b-coupon__feedback {
    margin-top: 88px;
  
}
.b-screen_fourth__header p, .b-screen_fourth__header strong {
  color: #000;
  font-size: 1.4em;
}
.b-screen_fourth__header p {
  font-size: 1.2em;
  margin-top: 30px;
  line-height: 1.1em;
}
.b-screen_fourth__header strong {
  font-weight: bold;
  display: block;
  margin-bottom: 14px;
}
.b-screen_fourth__test {
  width: 100%;
  height: auto;
}
.b-screen_fourth h4, .b-screen_fourth h5 {
  padding-right: 20px;
  font-style: italic;
}
.b-screen_fourth h4 {
  color: #7e1b8d;
  font-size: 1.1em;
  padding-left: 20px;
  margin: 15px 0 5px 0;
}
.b-screen_fourth h5 {
  font-size: 1.1em;
  padding-left: 20px;
  color: #575757;
  margin-top: 12px;
}
.b-screen_fourth__list {
  margin-top: 100px;
}
.b-screen_fourth__list li {
  margin-bottom: 92px;
  position: relative;
}
.b-screen_fourth__list li:last-child {
  margin-bottom: 10px;
}
.b-screen_fourth__list__num {
  position: absolute;
  z-index: 10;
  width: 34%;
  height: auto;
  font-size: 3.3em;
  line-height: 1.7em;
  padding-bottom: 7%;
  text-align: center;
  color: #fff;
  top: -70px;
  font-weight: bold;
  left: 20px;
  background: url(../images/num.png) no-repeat;
  background-size: 100% 100%;
}
.b-screen_fourth__list__image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.b-screen_fourth__list h6 {
  padding: 18px 26px;
  color: #fff;
  background: #f11c82;
  text-align: left;
  font-size: 1.6em;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
}
.b-screen_fourth__list p {
  color: #575757;
  background: #fff;
  min-height: 170px;
  padding: 25px 4px 25px 18px;
  line-height: 1.2em;
  text-indent: 25px;
  font-size: 1.3em;
}
.b-screen_fourth__list__arrow {
  position: absolute;
  z-index: 10;
  bottom: -59px;
  right: 18px;
  width: 41px;
  height: 106px;
  background-position: 0px 0px;
}

.b-slider {
  margin: 0 auto;
  margin-top: 50px;
  background: #f6f6fc;
  padding-bottom: 30px;
}
.b-slider__pagination {
  position: absolute;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  text-align: center;
  top: 30%;
}
.b-slider__pagination__item {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #c6c6e4;
  margin-right: 10%;
  display: inline-block;
}
.b-slider__pagination__item:last-child {
  margin-right: 0;
}
.b-slider__pagination__item_active {
  background: #7d7dc1;
}
.b-slider__item {
  float: left;
  display: none;
}
.b-slider__item__person {
  height: 176px;
  position: relative;
}
.b-slider__item__person p {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 10px;
  width: 140px;
  font-size: 1em;
  text-align: right;
  color: #df1063;
}
.b-slider__item__eval {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 97px;
          
  border-radius: 90px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  background: #df1063;
  padding: 20px;
  color: #fff;
  font-size: 2.2em;
  text-align: center;
  display: block;
  line-height: 1.4em;
}
.b-slider__item__image {
  position: absolute;
  left: 10px;
  top: -40px;
  z-index: 10;
  height: auto;
  width: 40%;
}
.b-slider__item_active {
  display: block;
}
.b-slider__item__wrapper {
  font-size: 1.1em;
  color: #575757;
  line-height: 1.3em;
  text-align: center;
  background: #fff;
  margin: 0 10px;
  padding: 19px 14px;
}
.b-slider__item__wrapper h5 {
  text-align: center;
  margin-bottom: 16px;
  padding-top: 10px;
  font-size: 1.2em;
}
.b-slider__item__wrapper h6 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 26px;
  color: #6464a7;
}
.b-slider__controls {
  position: relative;
  min-height: 140px;
  margin: 22px 4%;
}
.b-slider__controls img {
    width: 100%;

    height: auto;
}
.b-slider__controls__left {
  position: absolute;
  z-index: 10;
  left: 0px;
  display: block;
  /* height: auto; */
  width: 22%;
}
.b-slider__controls__right {
  position: absolute;
  z-index: 10;
  right: 0px;
  width: 22%;
  height: auto;
}
.b-slider__controls__text-left {
  text-decoration: underline;
  float: left;
  font-style: italic;
  font-size: 1em;
  width: 40%;
  text-align: left;
  margin-top: 30%;
  line-height: 25px;
  color: #000;
}
.b-slider__controls__text-right {
  text-decoration: underline;
  float: right;
  font-style: italic;
  font-size: 1em;
  width: 40%;
  text-align: right;
  margin-top: 30%;
  line-height: 25px;
  color: #000;
}

.b-copyright {
  margin: 0 auto;
  color: #6f6f6f;
  font-size: 1.2em;
  padding: 7px 0 100px 0;
  line-height: 1.3em;
  text-align: center;
}

.b-screen_fifth {
  min-height: 1000px;
  padding: 58px 16px 16px 16px;
  background: url(../images/bg-screen-3.jpg) no-repeat;
}
.b-screen_fifth .b-coupon__benefits_pink p {
    font-size: 1.5em;
    padding: 0;
    margin-top: 10px;
    line-height: 1.3em;
}
.b-screen_fifth .b-coupon__benefits_pink strong {
    margin-top: 0px;

    font-size: 1.4em;
    font-weight: bold;
    padding-top: 10px;
    line-height: 0.2em;
}
.b-screen_fifth__list-img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.b-screen_fifth ul {
  margin-top: 72px;
}
.b-screen_fifth li {
  margin-bottom: 62px;
}
.b-screen_fifth p {
  line-height: 1.3em;
  font-size: 1.2em;
  padding: 0px;
  margin-top: 24px;
  text-align: center;
}
.b-screen_fifth strong {
  font-weight: bold;
  padding-top: 52px;
  display: block;
  font-size: 1.8em;
  margin-bottom: 0px;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}
.b-screen_fifth__medal {
  margin: 0 auto;
  padding: 60px 0 45% 0;
  background: url(../images/fiction-bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.b-screen_fifth__medal h3 {
    font-weight: bold;
    color: #df0f63;
    font-size: 1.8em;
}
.b-screen_fifth__medal h4{
    font-size: 1.4em;
    margin-top: 30px;
    padding: 0 18px;
    line-height: 1.6em;
    margin-bottom: 35px;
    font-weight: normal;
}
.b-screen_fifth__medal__image {
  width: 75%;
  height: auto;
  margin: 0 auto 20px;
}
.b-screen_fifth__medal__strong {
  color: #5e8b4d;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  padding: 17px 50px 0 50px;
  padding-top: 1px !important;
}
.b-screen_fifth__medal__text {
  font-size: 20px;
}
.b-screen_fifth__girl {
  width: 100%;
  height: auto;
  /* margin-top: 80px; */
}
.b-success {
  margin: 10px;
  background: #9e30af;
  color: #fff;
  padding: 25% 0;
  border-radius: 2px;
}
.b-instruction input {
  border: 1px solid #727272;
  margin: 20px auto 25px;
  width: 90%;
  height: 90px;
}
.b-success__last {
  padding: 46px 0 34px 0;
}
.b-success__last strong {
    margin-bottom: 15px !important;
}
.b-success.b-success__last h2 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 12px;
}
.b-success.b-success__last h3 {
    font-size: 1.5em;

    margin-top: 33px;
}
.b-success.b-success__last p {
    padding: 0 40px;
}
.b-success strong {
  display: block;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}
.b-success p {
  text-align: center;
  padding: 0 60px;
  font-size: 1.1em;
  line-height: 1.6em;
}
.b-success__strong {
  font-size: 36px;
  color: #ddf793;
  margin-bottom: 10px;
}
.b-success h2 {
  padding: 0 17px;
  font-size: 27px;
  line-height: 34px;
  color: #ddf793;
  font-weight: normal;
  margin-bottom: 30px;
}
.b-success h3 {
  text-align: center;
  color: #ddf793;
  margin: 20px 0;
  font-size: 25px;
}
.b-success__phone {
  text-align: center;
  color: #fff;
  font-size: 1.4em !important;
}
.b-success__name {
  color: #fff;
  font-size: 1.8em !important;
  text-align: center;
  margin-top: 20px;
}

.b-instruction {
  margin: 0 10px 23px 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid #d3c1d5;
  padding-top: 28px;
  -webkit-box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
}
.b-instruction h4 {
  color: #9d30ae;
  font-size: 1.3em;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.b-instruction p {
  font-size: 1em;
  line-height: 1.1em;
  padding: 0 7%;
  text-align: center;
  margin: 18px 0 29px 0;
}
.b-instruction span {
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.2em;
  margin-bottom: 10px;
  color: #9e30af;
  padding: 0 0px;
}
.b-instruction a {
  /* width: 434px; */
  /* height: 164px; */
  /* background-position: 0px -622px; */
  /* display: block; */
  /* text-transform: uppercase; */
  /* margin: 10px auto; */
  /* padding: 37px 50px; */
  /* font-size: 40px; */
  /* color: #2c2c2c; */
  /* text-decoration: none; */
  text-align: center;
  /* line-height: 45px; */
  display: block;  background-image: url(../images/btn-coupon.png);  background-size: 100% 100%;  padding: 10%;  font-size: 1.7em;  text-transform: uppercase;  color: #2c2c2c;  text-decoration: none;  font-weight: bold;  margin-bottom: 16px;  margin-top: -10px;
}

@media all and (max-width: 320px) {
  body {
    font-size: 15px;
  }
  .b-coupon__price_old , .b-coupon__price_new {
    padding: 18% 5%;
  }
}

@media all and (max-width: 240px) {
  body {
    font-size: 13px;
  }
  .b-coupon__price_old , .b-coupon__price_new {
    padding: 31% 3%;
  }
  .b-coupon__price span , .b-coupon__price_new span {
    font-size: 1.6em;
  }
  .b-coupon h3 {
    font-size: 1.6em;
  }
  .b-screen_first__benefits li {
    padding: 6% 8% 6% 2%;
  }
  .b-screen_fourth__list__num {
    padding-bottom: 3%;
    
  }
  .b-slider__pagination__item {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .b-slider__pagination {
    top: 13%;
  }
  .b-slider__item__person {
    height: 100px;
  }
  .b-slider__item__eval {
    width: 45px;
    height: 45px;
  
    font-size: 1.6em;
    line-height: 0.5em;
    padding: 17px 0;
}
}