@font-face {
  font-family: 'CenturyGothicBold';
  src: url("../fonts/946379.eot");
  src: url("../fonts/946379.eot") format("embedded-opentype"), url("../fonts/946379.woff2") format("woff2"), url("../fonts/946379.woff") format("woff"), url("../fonts/946379.ttf") format("truetype"), url("../fonts/946379.svg#CenturyGothicBold") format("svg");
}
@font-face {
    font-family: 'a_futuraroundbold';
    src: url('../fonts/a_futuraround_bold-webfont.eot');
    src: url('../fonts/a_futuraround_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/a_futuraround_bold-webfont.woff2') format('woff2'),
         url('../fonts/a_futuraround_bold-webfont.woff') format('woff'),
         url('../fonts/a_futuraround_bold-webfont.ttf') format('truetype'),
         url('../fonts/a_futuraround_bold-webfont.svg#a_futuraroundbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) 
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #727272;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #727272;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #727272;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #727272;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input, textarea, input:focus, textarea:focus {
  outline: none;
  padding: 5px;
  color: #727272;
  font-size: 26px;
  font-style: italic;
  text-align: center;
}

input {
  width: 95%;
  margin: 0 auto;
  display: block;
  margin-bottom: 24px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 76px;
  padding: 15px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  min-height: 100%;
}

body {
  line-height: 1;
  font-family: 'Arial', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.b-sprite {
  background: url(../images/sprite.png) no-repeat;
}

.b-wrapper {
  min-width: 240px;
  max-width: 480px;
  margin: 0 auto;
}

.b-logo {
  text-align: center;
  background: rgba(212, 213, 243, 0.75);
  padding: 26px 0;
}
.b-logo a {
  width: 302px;
  height: 60px;
  display: block;
  margin: 0 auto;
  background-position: 0px 0px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-family: 'CenturyGothicBold', 'Arial', sans-serif;
  font-size: 46px;
  padding-top: 20px;
  word-break: break-word;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-family: 'CenturyGothicBold', 'Arial', sans-serif;
  font-size: 36px;
  padding-top: 21px;
  line-height: 45px;
  font-weight: bold;
  word-break: break-word;
}

.b-screen_first {
  min-height: 1000px;
  background: url(../images/bg-screen-1.jpg) no-repeat;
}
.b-screen_first__benefits {
  margin-top: 22px;
  height: 637px;
  background-position: -506px 0px;
  background-size: 100% 100%;
}
.b-screen_first__benefits li {
  padding: 25px 40px 30px 38px;
  height: 153px;
}
.b-screen_first__benefits .b-sprite {
  float: left;
  width: 70px;
  height: 82px;
  background-position: 0px -61px;
  margin: 16px 25px 0 0;
}
.b-screen_first__benefits p {
  font-size: 28px;
  color: #393939;
  line-height: 37px;
}
.b-screen_first strong {
  padding-left: 33px;
  color: #6c5f2a;
  font-family: "Arial";
  font-size: 30px;
  font-weight: bold;
}
.b-screen_first__text {
  color: #000;
  padding-left: 30px;
  font-size: 28px;
  margin-top: 9px;
}
.b-screen_first__image {
  height: 390px;
  background-position: -70px -61px;
}

.b-coupon {
  max-width: 446px;
  margin: 27px auto;
  height: 964px;
  padding-top: 31px;
  border: 1px solid rgba(110, 34, 119, 0.3);
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.21);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.21);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDQ0NiA5NjQiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MzViYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzMjlhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNDQ2IiBoZWlnaHQ9Ijk2NCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -webkit-linear-gradient(bottom, #a935bb 0%, #9329a3 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a935bb), to(#9329a3));
  background-image: linear-gradient(bottom, #a935bb 0%, #9329a3 100%);
}
.b-coupon .b-coupon__benefits{
    margin-top: 85px;

    padding: 9px 10px 10px 10px;
}
.b-coupon h3 {
  color: #ddf793;
  text-align: center;
  margin-bottom: 15px;
  font-size: 44px;
  font-weight: bold;
  font-family: 'a_futuraroundbold', sans-serif;
}
.b-coupon__action-text {
  color: #ddf793;
  margin-bottom: 26px;
  text-align: center;
  display: block;
  font-size: 30px;
}
.b-coupon__price {
  position: relative;
  height: 168px;
  background-position: -70px -450px;
}
.b-coupon__price strong {
  display: block;
  text-align: left;
  font-size: 27px;
  margin-bottom: 11px;
}
.b-coupon__price span {
  font-size: 56px;
}
.b-coupon__price span span {
  font-size: 30px;
  padding-left: 10px;
}
.b-coupon__price_old {
  padding: 38px 0 38px 21px;
  position: absolute;
  display: block;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
}
.b-coupon__price_old strong {
  color: #ddf793;
}
.b-coupon__price_old span {
  color: #ddf793;
  position: relative;
}
.b-coupon__price_old>span:after {
  content: "";
  position: absolute;
  z-index: 10px;
  left: -10px;
  right: -10px;
  height: 3px;
  top: 45%;
  background: #ddf793;
}
.b-coupon__price_new {
  padding: 38px 0 38px 21px;
  position: absolute;
  display: block;
  z-index: 10;
  top: 3px;
  bottom: 0;
  left: 51%;
  right: -1px;
  background: #fff;
}
.b-coupon__price_new strong {
  color: #f00;
}
.b-coupon__price_new span {
  color: #f00;
}
.b-coupon__total {
  text-align: center;
  color: #fff;
  padding: 17px 0 15px 0;
  font-size: 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.b-coupon__total p {
  margin-bottom: 5px;
}
.b-coupon__form {
  text-align: center;
  padding: 20px 6px;
}
.b-coupon__form label {
  color: #fff;
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
}
.b-coupon__form a {
  height: 165px;
  display: block;
  background-position: 0px -622px;
  padding: 34px 40px 0 40px;
  font-size: 50px;
  text-transform: uppercase;
  color: #2c2c2c;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: -10px;
}
.b-coupon__form p {
  color: #fff;
  padding: 0 20px;
  font-size: 26px;
  line-height: 31px;
}
.b-coupon__benefits {
  height: 160px;
  background-position: -435px -630px;
  margin-top: 42px;
  text-align: center;
  padding: 30px;
}
.b-coupon__benefits strong, .b-coupon__benefits p {
  font-size: 38px;
  color: #fff;
  display: block;
  font-family: 'a_futuraroundbold';
}
.b-coupon__benefits p {
  margin-bottom: 5px;
}
.b-coupon__benefits strong {
  font-size: 40px;
}

.b-screen_second {
  padding: 15px;
  background: #fff;
}

.b-screen_third {
  background: #fff;
  margin-top: 175px;
  text-align: center;
  margin-bottom: -33px;
}
.b-screen_third h4 {
  font-size: 27px;
  color: #6769b5;
  margin: 10px auto 14px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding-bottom: 21px;
  font-family: 'a_futuraroundbold';
  font-weight: bold;
}
.b-screen_third ul li p {
  margin-bottom: 1;
  color: #000;
  font-size: 27px;
  margin-bottom: 10px;
  padding: 0 19px;
  line-height: 33px;
  font-family: 'a_futuraroundbold';
}
.b-screen_third ul li p strong {
  font-weight: bold;
}
.b-screen_third li {
  padding: 20px 20px 27px 20px;
  margin-bottom: 11px;
}
.b-screen_third li:nth-child(2n+1) {
  background: #f3f3ff;
}
.b-screen_third .b-sprite {
  width: 245px;
  height: 245px;
  margin: 10px auto 37px;
}
.b-screen_third .b-sprite_1 {
  background-position: 0px -797px;
}
.b-screen_third .b-sprite_2 {
  background-position: -249px -797px;
}
.b-screen_third .b-sprite_3 {
  background-position: -494px -797px;
}
.b-screen_third .b-sprite_4 {
  background-position: -740px -797px;
}
.b-screen_third .b-sprite_5 {
  background-position: 0px -1045px;
}

.b-screen_fourth {
  padding: 16px;
  min-height: 4000px;
  background: url(../images/bg-screen-2.jpg) no-repeat;
}
.b-screen_fourth .b-coupon__benefits {
  margin: 0px auto;
  color: #fff;
  height: 213px;
  background-position: -258px -1066px;
}
.b-screen_fourth__header {
  position: relative;
  height: 552px;
  background-position: 0px -1300px;
  margin-top: 75px;
  text-align: center;
  padding: 91px 25px 0 25px;
}
.b-screen_fourth__header__sign {
  position: absolute;
  z-index: 10;
  top: -50px;
  left: 50%;
  margin-left: -59px;
  width: 118px;
  height: 120px;
  background-position: -708px -1066px;
}
.b-screen_fourth__header p, .b-screen_fourth__header strong {
  color: #000;
  font-size: 35px;
}
.b-screen_fourth__header strong {
  font-weight: bold;
  display: block;
  margin-bottom: 14px;
}
.b-screen_fourth__test {
  background-position: -562px -1300px;
  height: 393px;
  margin-top: -40px;
}
.b-screen_fourth h4, .b-screen_fourth h5 {
  padding-right: 80px;
  font-style: italic;
}
.b-screen_fourth h4 {
  color: #7e1b8d;
  font-size: 28px;
  padding-left: 20px;
  margin: 15px 0 5px 0;
}
.b-screen_fourth h5 {
  font-size: 24px;
  padding-left: 20px;
  color: #575757;
  margin-top: 12px;
}
.b-screen_fourth__list {
  margin-top: 100px;
}
.b-screen_fourth__list li {
  margin-bottom: 92px;
  position: relative;
}
.b-screen_fourth__list li:last-child {
  margin-bottom: 10px;
}
.b-screen_fourth__list__num {
  position: absolute;
  z-index: 10;
  width: 143px;
  height: 169px;
  top: -70px;
  left: 20px;
}
.b-screen_fourth__list__num_1 {
  background-position: 0px -1850px;
}
.b-screen_fourth__list__num_2 {
  background-position: -145px -1850px;
}
.b-screen_fourth__list__num_3 {
  background-position: -288px -1850px;
}
.b-screen_fourth__list__num_4 {
  background-position: -434px -1850px;
}
.b-screen_fourth__list__image {
  height: 361px;
  margin-bottom: 10px;
}
.b-screen_fourth__list__image_1 {
  background-position: 0px -2020px;
}
.b-screen_fourth__list__image_2 {
  background-position: -455px -2020px;
}
.b-screen_fourth__list__image_3 {
  background-position: 0px -2411px;
}
.b-screen_fourth__list__image_4 {
  background-position: -455px -2411px;
}
.b-screen_fourth__list h6 {
  padding: 18px 26px;
  color: #fff;
  background: #f11c82;
  text-align: left;
  font-size: 41px;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
}
.b-screen_fourth__list p {
  color: #575757;
  background: #fff;
  min-height: 210px;
  padding: 25px 4px 25px 18px;
  line-height: 38px;
  text-indent: 25px;
  font-size: 33px;
}
.b-screen_fourth__list__arrow {
  position: absolute;
  z-index: 10;
  bottom: -59px;
  right: 18px;
  width: 41px;
  height: 106px;
  background-position: -825px -1065px;
}

.b-slider {
  margin: 0 auto;
  width: 460px;
  margin-top: 360px;
  background: #f6f6fc;
  padding-bottom: 30px;
}
.b-slider__item {
  width: 460px;
  float: left;
  display: none;
}
.b-slider__item__person {
  height: 236px;
  position: relative;
}
.b-slider__item__person p {
  position: absolute;
  z-index: 10;
  bottom: 31px;
  right: 30px;
  width: 140px;
  font-size: 27px;
  text-align: center;
  color: #df1063;
}
.b-slider__item__eval {
  width: 97px;
  height: 97px;
  -webkit-border-radius: 97px;
          border-radius: 97px;
  position: absolute;
  right: 54px;
  top: 36px;
  z-index: 10;
  background: #df1063;
  padding: 20px;
  color: #fff;
  font-size: 50px;
  display: block;
  line-height: 61px;
}
.b-slider__item__image {
  position: absolute;
  left: 10px;
  top: -40px;
  z-index: 10;
  height: 296px;
  width: 258px;
  background-position: -607px -1714px;
}
.b-slider__item_active {
  display: block;
}
.b-slider__item__wrapper {
  font-size: 28px;
  color: #575757;
  line-height: 33px;
  text-align: center;
  background: #fff;
  margin: 0 10px;
  padding: 19px 14px;
}
.b-slider__item__wrapper h5 {
  text-align: center;
  margin-bottom: 16px;
  padding-top: 10px;
  font-size: 35px;
}
.b-slider__item__wrapper h6 {
  text-align: center;
  font-size: 27px;
  margin-bottom: 32px;
  color: #6464a7;
}
.b-slider__controls {
  position: relative;
  min-height: 100px;
  margin: 52px 33px;
}
.b-slider__controls__left {
  position: absolute;
  z-index: 10;
  left: 0px;
  width: 78px;
  height: 78px;
  background-position: -881px -1069px;
}
.b-slider__controls__right {
  position: absolute;
  z-index: 10;
  right: 0px;
  width: 78px;
  height: 78px;
  background-position: -881px -1151px;
}
.b-slider__controls__text-left {
  text-decoration: underline;
  float: left;
  font-style: italic;
  font-size: 27px;
  width: 160px;
  text-align: left;
  margin-top: 102px;
  line-height: 25px;
  color: #000;
}
.b-slider__controls__text-right {
  text-decoration: underline;
  float: right;
  font-style: italic;
  font-size: 27px;
  width: 160px;
  text-align: right;
  margin-top: 102px;
  line-height: 25px;
  color: #000;
}

.b-copyright {
  margin: 0 auto;
  color: #6f6f6f;
  font-size: 23px;
  padding: 17px 0 100px 0;
  line-height: 29px;
  text-align: center;
}

.b-screen_fifth {
  min-height: 1000px;
  padding: 58px 16px 16px 16px;
  background: url(../images/bg-screen-3.jpg) no-repeat;
}
.b-screen_fifth .b-coupon__benefits {
  margin: 0px auto;
  color: #fff;
  height: 213px;
  background-position: -258px -1066px;
  padding: 25px 10px 10px 10px;
}
.b-screen_fifth .b-coupon__benefits p {
    font-size: 38px;
    padding: 0;
    margin-top: 18px;
    line-height: 20px;
}
.b-screen_fifth .b-coupon__benefits strong {
    margin-top: 10px;

    font-size: 43px;
    font-weight: bold;
    padding-top: 10px;
}
.b-screen_fifth__list-img {
  margin: 0 auto;
  width: 381px;
  height: 315px;
}
.b-screen_fifth__list-img_1 {
  background-position: 0px -2776px;
}
.b-screen_fifth__list-img_2 {
  background-position: -381px -2776px;
}
.b-screen_fifth__list-img_3 {
  background-position: 0px -3107px;
}
.b-screen_fifth ul {
  margin-top: 72px;
}
.b-screen_fifth li {
  margin-bottom: 62px;
}
.b-screen_fifth p {
  text-align: center;
  line-height: 36px;
  font-size: 27px;
  padding: 0 17px;
  margin-top: 24px;
}
.b-screen_fifth strong {
  font-weight: bold;
  padding-top: 52px;
  display: block;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.b-screen_fifth__medal {
  width: 460px;
  margin: 0 auto;
  padding: 55px 0 10px 0;
  min-height: 1000px;
  background-position: -11px -3428px;
}
.b-screen_fifth__medal h3 {
    text-align: center;
    font-weight: bold;
    color: #df0f63;
    font-size: 50px;
}
.b-screen_fifth__medal h4{
    text-align: center;
    font-weight: bold;
    font-size: 31px;
    margin-top: 30px;
    padding: 0 18px;
    line-height: 43px;
    margin-bottom: 35px;
    font-weight: normal;
}
.b-screen_fifth__medal__image {
  background-position: -381px -3107px;
  width: 305px;
  height: 305px;
  margin: 0 auto 20px;
}
.b-screen_fifth__medal__strong {
  color: #5e8b4d;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  padding: 17px 50px 0 50px;
  padding-top: 1px !important;
}
.b-screen_fifth__medal__text {
  font-size: 20px;
}
.b-screen_fifth__girl {
  width: 450px;
  margin: 0 auto;
  background-position: -515px -3428px;
  min-height: 326px;
  margin-top: 83px;
}

.b-success {
  margin: 10px;
  background: #9e30af;
  color: #fff;
  padding: 99px 0 110px 0;
  border-radius: 2px;
}
.b-instruction input {
  border: 1px solid #727272;
  margin: 20px auto 25px;
  width: 90%;
  height: 90px;
}
.b-success__last {
  padding: 46px 0 34px 0;
}
.b-success__last strong {
    margin-bottom: 15px !important;
}
.b-success.b-success__last h2 {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 12px;
}
.b-success.b-success__last h3 {
    font-size: 35px;

    margin-top: 33px;
}
.b-success.b-success__last p {
    padding: 0 40px;
    /* font-size: 30px; */
}
.b-success strong {
  display: block;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}
.b-success p {
  text-align: center;
  padding: 0 60px;
  font-size: 29px;
  line-height: 39px;
}
.b-success__strong {
  font-size: 36px;
  color: #ddf793;
  margin-bottom: 10px;
}
.b-success h2 {
  padding: 0 17px;
  font-size: 27px;
  line-height: 34px;
  color: #ddf793;
  font-weight: normal;
  margin-bottom: 30px;
}
.b-success h3 {
  text-align: center;
  color: #ddf793;
  margin: 20px 0;
  font-size: 25px;
}
.b-success__phone {
  text-align: center;
  color: #fff;
  font-size: 41px !important;
}
.b-success__name {
  color: #fff;
  font-size: 43px !important;
  text-align: center;
  margin-top: 20px;
}

.b-instruction {
  margin: 0 10px 23px 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid #d3c1d5;
  padding-top: 28px;
  -webkit-box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
}
.b-instruction h4 {
  color: #9d30ae;
  font-size: 29px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.b-instruction p {
  font-size: 28px;
  line-height: 38px;
  padding: 0 66px;
  text-align: center;
  margin: 18px 0 42px 0;
}
.b-instruction span {
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 31px;
  line-height: 39px;
  margin-bottom: 10px;
  color: #9e30af;
  padding: 0 0px;
}
.b-instruction a {
  width: 434px;
  height: 164px;
  background-position: 0px -622px;
  display: block;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 37px 50px;
  font-size: 40px;
  color: #2c2c2c;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
}
