@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/946379.eot');
    src: url('../fonts/946379.eot') format('embedded-opentype'),
         url('../fonts/946379.woff2') format('woff2'),
         url('../fonts/946379.woff') format('woff'),
         url('../fonts/946379.ttf') format('truetype'),
         url('../fonts/946379.svg#CenturyGothicBold') format('svg');
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #727272;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #727272;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #727272;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #727272;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input, textarea, input:focus, textarea:focus {
  outline: none;
  padding: 5px;
  color: #727272;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	min-height: 100%;
}
body {
	line-height: 1;
	font-family: 'Arial', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.b-sprite {
	background: url(../images/sprite.png) no-repeat;
}
.b-wrapper {
	min-width: 240px;
	max-width: 480px;
	margin: 0 auto;
}
.b-logo {
	text-align: center;
	background: rgba(212, 213, 243, .75);
	padding: 26px 0;
	a {
		width: 302px;
		height: 60px;
		display: block;
		margin: 0 auto;
		background-position: 0px 0px;
	}
}
h1 {
	text-transform: uppercase;
	text-align: center;
	color: #000;
	font-family: 'CenturyGothicBold', 'Arial', sans-serif;
	font-size: 45px;
	padding-top: 20px;
	word-break: break-word;
	font-weight: bold;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	color: #000;
	font-family: 'CenturyGothicBold', 'Arial', sans-serif;
	font-size: 36px;
	padding-top: 20px;
	font-weight: bold;
	word-break: break-word;
}
.b-screen_first {
	min-height: 1000px;
	background: url(../images/bg-screen-1.jpg) no-repeat;
	&__benefits {
		margin-top: 20px;
		height: 652px;
		background-position: -506px 0px; 
		background-size: 100% 100%;
		li {
			padding: 25px 40px;
			height: 150px;
		}
		.b-sprite {
			float: left;
			width: 70px;
			height: 82px;
			background-position: 0px -61px;
			margin: 10px 25px 0 0;
		}
		p {
			font-size: 28px;
			color: #393939;
			line-height: 35px;
		}
	}
	strong {
		padding-left: 20px;
		color: #6c5f2a;
		font-family: "Arial";
		font-size: 23px;
		font-weight: bold;
	}
	&__text {
		color: #000;
	}
	&__image {
		height: 390px;
		background-position: -70px -61px;
	}
}
.b-coupon {
	max-width: 446px;
	margin: 20px auto;
	height: 964px;
	padding-top: 25px;
	border: 1px solid rgba(110,34,119,.3);
	background-color: #fff;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.21);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.21);
	box-shadow: 0 2px 6px rgba(0,0,0,.21);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDQ0NiA5NjQiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MzViYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzMjlhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iNDQ2IiBoZWlnaHQ9Ijk2NCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #a935bb 0%, #9329a3 100%);
	background-image: -o-linear-gradient(bottom, #a935bb 0%, #9329a3 100%);
	background-image: -webkit-linear-gradient(bottom, #a935bb 0%, #9329a3 100%);
	background-image: linear-gradient(bottom, #a935bb 0%, #9329a3 100%);
	h3 {
		color: #ddf793;
		text-align: center;
		margin-bottom: 15px;
	}
	&__action-text {
		color: #ddf793;	
		margin-bottom: 15px;
		text-align: center;
		display: block;
	}
	&__price {
		position: relative;
		height: 168px;
		background-position: -70px -450px;
		strong {
			display: block;
			text-align: left;
			font-size: 15px;
			margin-bottom: 10px;
		}
		span {
			font-size: 30px;
		}
		&_old {
			padding: 20px 10px;
			position: absolute;
			display: block;
			z-index: 10;
			top: 0;
			left: 0;
			bottom: 0;
			right: 50%;
			strong {
				color: #ddf793;
			}
			span {
				color: #ddf793;
			}
		}
		&_new {
			padding: 20px 10px;
			position: absolute;
			display: block;
			z-index: 10;
			top: 3px;
			bottom: 0;
			left: 50%;
			right: -1px;
			background: #fff;
			strong {
				color: #f00;
			}
			span {
				color: #f00;
			}
		}
	}
	&__total {
		text-align: center;
		color: #fff;
		padding: 20px 0;
		font-size: 28px;
		border-bottom: 2px solid rgba(255,255,255,.3);
		p {
			margin-bottom: 5px;
		}
	}
	&__form {
		text-align: center;
		padding: 20px 6px;
		label {
			color: #fff;
			display: block;
			margin-bottom: 20px;
			font-size: 20px;
		}
		input {
			width: 100%;
			display: block;
			margin-bottom: 10px;
			border-radius: 5px;
			height: 76px;
			padding: 15px;
		}
		a {
			height: 165px;
			display: block;
			background-position: 0px -622px;
			padding: 28px 40px 0 40px;
			font-size: 50px;
			text-transform: uppercase;
			color: #2c2c2c;
			text-decoration: none;
			font-weight: bold;
			margin-bottom: 20px;
		}
		p {
			color: #fff;
			padding: 0 20px;
			font-size: 26px;
			line-height: 26px;
		}
	}
	&__benefits {
		height: 160px;
		background-position: -435px -630px;
		margin-top: 130px;
		text-align: center;
		padding: 30px;
		strong, p {
			font-size: 30px;
			color: #fff;
			display: block;
		}
		p {
			margin-bottom: 5px;
		}
		strong {
			font-size: 40px;
		}
	}
}
.b-screen_second {
	padding: 15px;
	background: #fff;
}
.b-screen_third {
	background: #fff;
	margin-top: 200px;
	text-align: center;
	h4 {
		font-size: 25px;
		color: #6769b5;
		margin: 10px auto 10px;
		border-bottom: 2px solid rgba(0,0,0,.3);
		text-transform: uppercase;
		padding-bottom: 10px;
	}
	>p {
		color: #000;
		font-size: 20px;
		padding-bottom: 10px;
		padding: 0 50px;
		line-height: 28px;
	}
	li {
		padding: 20px;
		&:nth-child(2n+1) {
			background: #f3f3ff;
		}
	}
	.b-sprite {
		width: 245px;
		height: 245px;
		margin: 10px auto 10px;
	}
	.b-sprite_1 {
		background-position: 0px -797px;
	}
	.b-sprite_2 {
		background-position: -249px -797px;
	}
	.b-sprite_3 {
		background-position: -494px -797px;
	}
	.b-sprite_4 {
		background-position: -740px -797px;
	}
	.b-sprite_5 {
		background-position: 0px -1045px;
	}
}
.b-screen_fourth {
	padding: 16px;
	.b-coupon__benefits {
		margin: 0px auto;
		color: #fff;
		height: 213px;
		background-position: -258px -1066px;
	}
	min-height: 4000px;
	background: url(../images/bg-screen-2.jpg) no-repeat;
	&__header {
		position: relative;
		height: 552px;	
		background-position: 0px -1300px;
		margin-top: 60px;
		text-align: center;
		padding: 100px 40px 0 40px;
		&__sign {
			position: absolute;
			z-index: 10;
			top: -50px;
			left: 50%;
			margin-left: -59px;
			width: 121px;
			height: 120px;
			background-position: -708px -1066px;
		}
		p, strong {
			color: #000;
			font-size: 30px;
		}
		strong {
			font-weight: bold;
			display: block;
			margin-bottom: 30px;
		}
	}
	&__test {
		background-position: -562px -1300px;
		height: 393px;
	}
	h4,h5 {
		padding-right: 150px;
		font-style: italic;
	}
	h4 {
		color: #7e1b8d;
		font-size: 20px;
		margin: 15px 0 5px 0;
	}
	h5 {
		font-size: 16px;
		color: #575757;
	}
	&__list {
		margin-top: 100px;
		li {
			margin-bottom: 100px;
			position: relative;
			&:last-child {
				margin-bottom: 10px;
			}
		}
		&__num {
			position: absolute;
			z-index: 10;
			width: 143px;
			height: 169px;
			top: -70px;
			left: 20px;
			&_1 {
				background-position: 0px -1850px;
			}
			&_2 {
				background-position: -145px -1850px;
			}
			&_3 {
				background-position: -288px -1850px;
			}
			&_4 {
				background-position: -434px -1850px;
			}
		}
		&__image {
			height: 361px;
			margin-bottom: 5px;
			&_1 {
				background-position: 0px -2020px;
			}
			&_2 {
				background-position: -455px -2020px;
			}
			&_3 {
				background-position: 0px -2411px;
			}
			&_4 {
				background-position: -455px -2411px;
			}
		}
		h6 {
			padding: 10px;
			color: #fff;
			background: #f11c82;
			text-align: center;
			font-size: 25px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		p {
			color: #575757;
			background: #fff;
			min-height: 210px;
			padding: 29px;
			font-size: 29px;
		}
		&__arrow {
			position: absolute;
			z-index: 10;
			bottom: -70px;
			right: 10px;
			width: 41px;
			height: 106px;
			background-position: -825px -1065px;
		}
	}
}
.b-slider {
	margin: 0 auto;
	width: 460px;
	margin-top: 270px;
	background: #f6f6fc;
	padding-bottom: 30px;
	&__item {
		width: 460px;
		float: left;
		display: none;
		&__person {
			height: 236px;
			position: relative;
			p {
				position: absolute;
				z-index: 10;
				bottom: 30px;
				right: 30px;
				width: 140px;
				font-size: 21px;
				text-align: center;
				color: #df1063;
			}
		}
		&__eval {
			width: 97px;
			height: 97px;
			border-radius: 97px;
			position: absolute;
			right: 50px;
			top: 50px;
			z-index: 10;
			background: #df1063;
			padding: 20px;
			color: #fff;
			font-size: 50px;
			display: block;
			line-height: 61px;
		}
		&__image {
			position: absolute;
			left: 10px;
			top: -40px;
			z-index: 10;
			height: 296px;
			width: 258px;
			background-position: -607px -1714px;
		}
		&_active {
			display: block;
		}
		&__wrapper {
			font-size: 28px;
			color: #575757;
			line-height: 30px;
			text-align: center;
			background:#fff;
			margin: 0 10px;
			padding: 20px;
			h5 {
				text-align: center;
				margin-bottom: 10px;
				padding-top: 30px;
				font-size: 28px;
			}
			h6 {
				text-align: center;
				font-size: 25px;
				margin-bottom: 20px;
				color: #6464a7;
			}
		}
	}
	&__controls {
		position: relative;
		min-height: 100px;
		margin: 20px;
		&__left {
			position: absolute;
			z-index: 10;
			left: 0px;
			width: 78px;
			height: 78px;
			background-position: -881px -1069px;
		}
		&__right {
			position: absolute;
			z-index: 10;
			right: 0px;
			width: 78px;
			height: 78px;
			background-position: -881px -1151px;
		}
		&__text-left {
			text-decoration: underline;
			float: left;
			font-style: italic;
			font-size: 20px;
			width: 160px;
			text-align: left;
			margin-top: 90px;
			line-height: 25px;
			color: #000;
		}
		&__text-right {
			text-decoration: underline;
			float: right;
			font-style: italic;
			font-size: 20px;
			width: 160px;
			text-align: right;
			margin-top: 90px;
			line-height: 25px;
			color: #000;
		}
	}
}
.b-copyright {
	margin: 0 auto;
	color: #6f6f6f;
	font-size: 22px;
	padding: 15px 0;
	line-height: 25px;
	text-align: center;
} 
.b-screen_fifth {
	min-height: 1000px;
	padding: 16px;
	background: url(../images/bg-screen-3.jpg) no-repeat;
	.b-coupon__benefits {
		margin: 0px auto;
		color: #fff;
		height: 213px;
		background-position: -258px -1066px;
	}
	&__list-img {
		margin: 0 auto;
		width: 381px;
		height: 315px;
		&_1 {
			background-position: 0px -2776px;
		}
		&_2 {
			background-position: -381px -2776px;
		}
		&_3 {
			background-position: 0px -3107px;
		}
	}
	ul {
		margin-top: 25px;
	}
	li {
		margin-bottom: 45px;
	}
	p {
		text-align: center;
		line-height: 25px;
		font-size: 20px;
		padding: 0 50px;
		margin-top: 15px;
	}
	strong {
		font-weight: bold;
		margin-top: 50px;
		display: block;
		text-align: center;
		font-size: 30px;
	}
}