/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #805d33;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #805d33;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #805d33;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #805d33;
}

.f-left {
  float: left;
  position: relative;
}

.f-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input, textarea, input:focus, textarea:focus {
  outline: none;
  padding: 5px;
  color: #805d33;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 10px 10px 12px 10px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  background: url(../img/bg-main.jpg);
  font-family: 'Arial', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  color: #282828;
  font-size: 45px;
  text-align: center;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  margin-top: 20px;
  font-weight: 500;
}

h2 {
  color: #000000;
  font-size: 30px;
  text-align: center;
}
h2 strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
}

.header {
  background: #fff3e4;
  padding: 8px 0 3px 0;
}
.header__logo {
  float: left;
}
.header__list {
  float: left;
  margin-left: 68px;
  font-size: 12px;
  line-height: 64px;
}
.header__list__item {
  float: left;
  text-align: center;
  margin-right: 0px;
}
.header__list__item a {
  text-transform: uppercase;
  color: #805d33;
  padding-right: 14px;
  padding-left: 18px;
  border-right: 1px dotted #805d33;
}
.header__list__item:last-child a {
  padding-right: 0px;
  border-right: 0px;
}
.header__contacts {
  float: right;
  padding-top: 2px;
  padding-right: 15px;
}
.header__contacts__phone {
  text-align: right;
  margin-bottom: 11px;
  position: relative;
}
.header__contacts__phone i {
  background: url(../img/sprite.png) -226px -44px no-repeat;
  width: 14px;
  height: 16px;
  position: absolute;
  z-index: 10;
  left: 36px;
  top: 5px;
  display: block;
}
.header__contacts__phone strong {
  font-size: 20px;
  color: #805d33;
  font-family: "Tahoma", sans-serif;  
}
.header__contacts__phone strong span {
  color: #d8bc9a;
  margin-right: 3px;
}
.header__contacts__btn {
  text-align: right;
}
.header__contacts__btn a {
  text-align: center;
  background: #f93868;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 9px;
  border-radius: 3px;
}
.b-screen_first {
  min-height: 400px;
}
.b-screen_first__header {
  text-align: center;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}
.b-screen_first__header span {
  color: #5e5e5e;
  font-size: 32px;
}
.b-screen_first__header strong {
  font-weight: bold;
}
.b-screen_first__wrapper {
  margin-top: 30px;
}
.b-screen_first__wrapper .f-left {
  width: 61%;
  min-height: 560px;
}
.b-screen_first__wrapper__image {
  position: absolute;
  z-index: 2;
  right: 45px;
  top: 0;
}
.b-screen_first__wrapper__image p {
  position: absolute;
  z-index: 3;
  top: -4px;
  line-height: 16px;
  right: -62px;
  width: 160px;
  color: #5e5e5e;
  font-size: 15px;
}
.b-screen_first__wrapper__image__count {
  position: absolute;
  top: 39px;
  z-index: 3;
  display: block;
  right: -46px;
  width: 103px;
  height: 86px;
  color: #fff;
  text-align: right;
  line-height: 83px;
  padding-right: 7px;
  background: url(../img/sprite.png) 0px -57px no-repeat;
}
.b-screen_first__wrapper__image__count strong {
  font-size: 39px;
}
.b-screen_first__wrapper__image__count span {
  font-size: 26px;
}
.b-screen_first__wrapper__image__arrow {
  position: absolute;
  z-index: 3;
  right: -53px;
  bottom: 145px;
  width: 35px;
  height: 71px;
  background: url(../img/sprite.png) -103px -65px no-repeat;
}
.b-screen_first__wrapper__medal {
  position: absolute;
  left: 0px;
  bottom: 20px;
  z-index: 3;
}
.b-screen_first__wrapper__medal img {
  margin-left: 8px;
  display: block;
  margin-bottom: 6px;
}
.b-screen_first__wrapper__medal h3 {
  text-transform: uppercase;
  color: #3d9edf;
  font-size: 15px;
  padding-bottom: 10px;
  margin-bottom: 9px;
  padding-left: 20px;
  text-align: left;
  width: 180px;
  border-bottom: 2px dotted #ccc;
}
.b-screen_first__wrapper__medal p {
  padding-left: 60px;
  position: relative;
  font-size: 12px;
  width: 160px;
  line-height: 16px;
}
.b-screen_first__wrapper__medal p span {
  position: absolute;
  z-index: 3;
  left: 15px;
  top: 20px;
  color: #5e5e5e;
  font-weight: bold;
  font-size: 41px;
}
.b-screen_first__wrapper__medal p span em {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 12px;
}
.b-screen_first__list {
  max-height: 200px;
}
.b-screen_first__list li {
  margin-bottom: 10px;
  padding: 20px 10px;
  background: url(../img/list-1.png) no-repeat;
}
.b-screen_first__list li i {
  float: left;
  width: 56px;
  height: 56px;
  margin: -21px 10px 0 -22px;
  -webkit-border-radius: 56px;
          border-radius: 56px;
  background: url(../img/sprite.png) no-repeat;
}
.b-screen_first__list li:first-child i {
  background-position: 0px 0px;
}
.b-screen_first__list li:nth-child(2) i {
  background-position: -56px 0px;
}
.b-screen_first__list li:nth-child(3) i {
  background-position: -112px 0px;
}
.b-screen_first__list li:nth-child(4) i {
  background-position: -168px 0px;
}
.b-screen_first__list p {
  color: #fff;
  text-align: left;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-top: -12px;
  line-height: 19px;
  padding-right: 30px;
}
.b-action {
  width: 365px;
  float: right;
  padding-bottom: 15px;
  background: url(../img/sprite.png) 0px -142px no-repeat;
}
.b-action__header {
  width: 360px;
  height: 225px;
  padding: 22px 14px 10px 16px;
  background: url(../img/sprite.png) 0px -665px no-repeat;
}
.b-action__header__text {
  color: #fff;
  font-size: 13px;
  margin-top: 11px;
  word-spacing: -0.8px;
}
.b-action h3 {
  color: #ffd401;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3px;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}
.b-action h4 {
  font-size: 19px;
  color: #ffd401;
  font-weight: normal;
  text-align: center;
  margin-bottom: 14px;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}
.b-action_horisontal .b-action__price {
  left: -7px;
  top: -1px;
}
.b-action__price {
  border: 1px solid rgba(255, 243, 228, 0.5);
  -webkit-border-radius: 12px;
          border-radius: 12px;
  background: #805d33;
  height: 97px;
  color: #fff;
  padding: 17px 15px 0px 15px;
  position: relative;
}
.b-action__price p {
  margin-bottom: 7px;
  text-align: left;
}
.b-action__price strong {
  font-size: 40px;
  position: relative;
  font-weight: bold;
}
.b-action__price strong+span {
  font-size: 21px;
  margin-left: 7px;
}
.b-action__price__old {
  color: #fff3e4;
  float: left;
}
.b-action__price__old:after {
  content: "";
  position: absolute;
  top: 55%;
  margin-top: 6px;
  width: 100px;
  left: 8px;
  height: 3px;
  background: #fff3e3;
}
.b-action__price__new {
  padding: 18px 2px 10px 26px;
  color: #ea3e69;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: 48%;
  background: #fff;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}
.b-action form {
  padding: 13px 18px 0 18px;
}
.b-action form label {
  display: block;
  color: #805d33;
  font-size: 15px;
  margin-bottom: 15px;
}
.b-action form input {
  width: 100%;
  margin-bottom: 14px;
  padding-left: 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: white url(../img/icon.png) no-repeat;
}
.b-action form .input_name {
  background-position: 9px 9px;
}
.b-action form .input_phone {
  background-position: 8px -361px;
}
.button_order {
  color: #fff;
  display: block;
  font-size: 22px;
  width: 333px;
  line-height: 79px;
  text-align: center;
  text-transform: uppercase;
  height: 79px;
  background: url(../img/sprite.png) 0px -893px no-repeat;
}
.b-action form p {
  font-size: 14px;
  color: #805d33;
  text-align: left;
  padding: 0 0 6px 43px;
  line-height: 16px;
  background: url(../img/icon.png) 9px -411px no-repeat;
  margin-top: 17px;
}
.b-action_horisontal {
  width: 100%;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  background: url(../img/bg-action.png);
  float: none;
  padding: 47px 0;
  margin-top: -5px;
}
.b-action__pack-image {
  position: absolute;
  z-index: 10;
  right: -40px;
  bottom: 36px;
}
.b-action__drawing {
  border: 1px solid rgba(128,93,51, .5);
  background: #ffd401;
  position: relative;
  border-radius: 12px;
  padding: 14px 15px;
  margin-top: 13px;
  left: -7px;
  width: 422px;
}
.b-action__drawing p {
  font-size: 18px;
  color: #805d33;
  line-height: 20px;
}
.b-action__drawing img {
  position: absolute;
  z-index: 10;
  right: -11px;
  top: -25px;
}
.b-action__left-pack {
    color: #fff;
    font-size: 15px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 7px;
    line-height: 16px;
    width: 150px;
}
.b-action_horisontal.b-action h3, .b-action_horisontal.b-action h4 {
  text-align: left;
}
.b-action_horisontal .b-screen_first__wrapper__image__count {
    right: 167px;
    top: -17px;
}
.b-action_horisontal .wrapper {
  background: #e4bf92;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}
.b-action_horisontal .b-action__header {
  float: left;
  width: 582px;
  height: 303px;
  background-position: -367px 0px;
  position: relative;
  padding: 15px 14px 10px 21px;
}
.b-action_horisontal form {
  position: relative;
  float: right;
  width: 400px;
  padding: 21px 10px 0 56px;
}
.b-action_horisontal .b-action__price {
  width: 330px;
}
.b-action_horisontal .b-screen_first__wrapper__image__arrow {
  background-position: -143px -72px;
  width: 68px;
  height: 38px;
  left: -17px;
  bottom: 13px;
}
.b-screen_second {
  padding-top: 21px;
  min-height: 760px;
  background: url(../img/bg-screen-2.jpg) no-repeat;
  background-size: cover;
}
.b-screen_second__content {
  position: relative;
  margin-top: 22px;
  background: url(../img/shadow-top.png), url(../img/shadow-bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
}
.b-screen_second__content__girl {
  position: absolute;
  z-index: 10;
  top: 3px;
  left: -55px;
}
.b-screen_second__content .f-left {
  padding: 3px 0;
  width: 35%;
  min-height: 705px;
}
.b-screen_second__content .f-right {
  width: 64%;
  padding-top: 30px;
}
.b-screen_second__content__info {
  font-size: 18px;
  color: #5e5e5e;
  background: url(../img/shadow-left.png), url(../img/shadow-right.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
  padding: 12px 0 12px 28px;
  width: 518px;
  margin-left: 106px;
  line-height: 22px;
}
.b-screen_second__content__info strong {
  font-weight: bold;
}
.b-screen_second__content__list {
  margin-top: 21px;
}
.b-screen_second__content__list li {
  height: 100px;
  margin-bottom: 10px;
  background: url(../img/list-2.png) no-repeat;
}
.b-screen_second__content__list__item_left {
  display: inline-block;
  width: 225px;
  height: 50px;
  text-align: right;
  vertical-align: top;
  padding-top: 24px;
}
.b-screen_second__content__list__item_left strong {
  display: block;
  margin-bottom: 9px;
  font-size: 17px;
}
.b-screen_second__content__list__item_left h5 {
  font-weight: bold;
  font-size: 20px;
}
.b-screen_second__content__list__item_right {
  display: inline-block;
  height: 100px;
  width: 385px;
  color: #fff;
  line-height: 20px;
  font-size: 16px;
  text-align: left;
  padding: 21px 0 0 44px;
}
.b-screen_second__medal {
  position: absolute;
  bottom: 27px;
  left: 47px;
  z-index: 20;
  width: 280px;
  height: 173px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.b-screen_second__medal img {
  position: absolute;
  z-index: 5;
  top: -67px;
  left: -58px;
  width: 174px;
  height: 174px;
}
.b-screen_second__medal h4 {
  color: #337018;
  font-size: 40px;
  padding-left: 122px;
  margin: 14px 0 14px 0;
  line-height: 41px;
}
.b-screen_second__medal h5 {
  color: #337018;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 126px;
}
.b-screen_second__medal p {
  color: #5e5e5e;
  font-size: 16px;
  padding: 18px 0 0 16px;
  line-height: 20px;
}
.b-screen_second__footer {
  min-height: 500px;
  background: url(../img/bg-screen-3.png) no-repeat;
}
.b-screen_second__footer .f-left {
  width: 60%;
  z-index: 20;
}
.b-screen_second__footer .f-left img {
  position: absolute;
  z-index: 5;
  right: -130px;
  top: 6px;
}
.b-screen_second__footer .f-right {
  width: 40%;
}
.b-screen_second__footer h2 {
  width: 550px;
  margin: 20px auto;
  padding-bottom: 17px;
  border-bottom: 4px dotted #bdbcbc;
}
.b-screen_second__footer__list {
    padding: 11px 0 0 0px;
}
.b-screen_second__footer__list i {
  -webkit-border-radius: 10px;
  border-radius: 4px;
  width: 62px;
  margin-left: -3px;
  height: 62px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icon.png) no-repeat;
}
.b-screen_second__footer__list li {
  margin-bottom: 19px;
  background: url(../img/line.png) bottom center no-repeat;
}
.b-screen_second__footer__list li:first-child i {
  background-position: 0px -69px;
}
.b-screen_second__footer__list li:nth-child(2) i {
  background-position: 0px -133px;
}
.b-screen_second__footer__list li:nth-child(3) i {
  background-position: 0px -197px;
}
.b-screen_second__footer__list li:nth-child(4) i {
  background-position: 0px -261px;
}
.b-screen_second__footer__list p {
  font-size: 20px;
  font-weight: bold;
  color: #4e3813;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
  width: 266px;
  position: relative;
}
.b-screen_second__footer__list p:after {
  content: "";
  position: absolute;
  z-index: 5;
  right: -30px;
  top: 58%;
  margin-top: -15px;
  width: 18px;
  height: 29px;
  background: url(../img/icon.png) 0px -327px;
}
.b-screen_second__aprove {
    position: relative;
    top: -32px;
    left: 104px;
    width: 271px;
    z-index: 10;
}
.b-screen_second__aprove img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 6;
}
.b-screen_second__aprove__content {
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.09);
  padding: 40px 20px 20px 20px;
  margin: -20px auto;
  position: relative;
  z-index: 5;
  width: 276px;
  height: 172px;
}
.b-screen_second__aprove__content h5 {
  font-weight: bold;
  color: #eb5b00;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-bottom: 13px;
}
.b-screen_second__aprove__content h5:after {
  content: "";
  position: absolute;
  z-index: 7;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #eb5b00;
  right: 30px;
  top: 17%;
  margin-top: 4px;
}
.b-screen_second__aprove__content h5:before {
  content: "";
  position: absolute;
  z-index: 7;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #eb5b00;
  left: 31px;
  top: 15%;
  margin-top: 4px;
}
.b-screen_second__aprove__content p {
  text-align: center;
  color: #bf7c24;
  font-size: 16px;
  padding: 0 10px;
  line-height: 17px;
}
.b-note {
  display: inline-block;
  width: 415px;
  height: 103px;
  background: url(../img/note.png) no-repeat;
  margin: 19px -20px 19px 55px;
  padding: 15px 10px 10px 27px;
}
.b-note h6 {
  font-weight: bold;
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 24px;
}
.b-note p {
  color: #615f64;
  font-size: 18px;
}
.b-slider {
  border: 1px solid rgba(0, 0, 0, 0.25);
  min-height: 516px;
  -webkit-border-radius: 12px;
  overflow: hidden;
  height: 340px;
  border-radius: 16px;
  background: #fff;
  margin: 19px 0px 38px 10px;
  padding: 19px 16px;
}
.slider-list {
  position: relative;
  margin: 0;
  padding: 0;
  height: 340px;
  list-style: none;
  overflow: hidden;
}
.slider-list li {
  float: left;
  margin: 0;
  padding: 0;
  height: 340px;
  width: 1000px;
  padding: 0 10px;
  margin: 0 20px;
}
.b-slider h2 {
  padding-bottom: 11px;
  border-bottom: 2px dotted #bdbcbc;
  word-spacing: 0px;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  margin-bottom: 31px;
}
.b-slider .f-left, .b-slider .f-right {
  width: 50%;
  overflow: hidden;
}
.b-slider__item {
  padding: 2px 0;
}
.b-slider__item__text {
    line-height: 20px;
}
.b-slider__item__photo {
  position: relative;
  margin-top: 20px;
}
.b-slider__item__photo__label {
  position: absolute;
  z-index: 6;
  top: -20px;
  left: 50%;
  width: 187px;
  height: 72px;
  margin-left: -94px;
  padding: 18px 10px 10px 41px;
  background: url(../img/label.png) no-repeat;
}
.b-slider__item__photo__label p {
    color: #805d33;
    font-size: 16px;
    margin-bottom: 4px;
}
.b-slider__item__photo__label strong {
    font-weight: bold;
    font-size: 20px;
    padding-left: 14px;
}
.b-slider__item__info {
  padding: 2px 0;
}
.b-slider__item__info__user {
  position: relative;
  margin-bottom: 16px;
}
.b-slider__item__info__user img {
  position: relative;
  z-index: 10;
  width: 114px;
  height: 114px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid #b18550;
}
.b-slider__item__info__user__label {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 86px;
  width: 365px;
  height: 72px;
  padding: 15px 0 0 66px;
  background: url(../img/label-2.png) no-repeat;
}
.b-slider__item__info__user__label__nickname {
  font-size: 20px;
  color: #fff;
  display: block;
}
.b-slider__item__info__user__label__city {
  display: block;
  font-size: 16px;
  color: #fff;
  margin-top: 4px;
}
.b-slider__controls {
  position: relative;
  border-top: 1px solid rgba(255, 212, 1, 0.3);
  padding-top: 11px;
  margin-top: 10px;
}
.b-slider__controls__link {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  top: 13px;
  background: url(../img/sprite.png) no-repeat;
}
.b-slider__controls__link_left {
  left: 35.3%;
  background-position: -227px 0;
}
.b-slider__controls__link_right {
  right: 33.6%;
  background-position: -268px 0;
}
.b-slider__controls p {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #b18550;
  font-weight: bold;
}
.b-screen_fourth {
  background: url(../img/bg-screen-2.jpg) 0 0/cover no-repeat;
  padding-top: 26px;
}
.b-screen_fourth h2 {
  padding-bottom: 20px;
  border-bottom: 2px dotted #bdbcbc;
  width: 640px;
  margin: 0 auto;
}
.b-screen_fourth__list {
  display: table;
  width: 100%;
  margin: 36px 0 13px 0;
}
.b-screen_fourth__list li {
  display: table-cell;
  width: 33%;
  text-align: center;
}
.b-screen_fourth__list__wrapper {
  background: url(../img/list-3.png) center center no-repeat;
  height: 409px;
  width: 299px;
  padding-top: 37px;
  margin: 0 auto;
}
.b-screen_fourth__list__wrapper strong {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 24px;
  color: #805d33;
  margin: 12px 0;
}
.b-screen_fourth__list__wrapper p {
  font-size: 16px;
  color: #575757;
  width: 260px;
  margin: 0 auto;
  line-height: 19px;
}
.b-screen_fourth__footer {
  background: url(../img/footer-1.png) right center no-repeat;
  padding-top: 133px;
  position: relative;
  margin-top: 59px;
  min-height: 290px;
}
.b-screen_fourth__footer__content {
  border: 1px solid #ea3e69;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  background: rgba(255, 255, 255, 0.75);
  padding: 0px 10px;
  width: 700px;
  -webkit-box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 30px;
  left: 10px;
}
.b-screen_fourth__footer__content img {
  float: left;
  position: relative;
  top: -28px;
  left: 10px;
}
.b-screen_fourth__footer__content__right {
    padding: 20px 0 0 290px;
}
.b-screen_fourth__footer__content__right h5 {
  font-size: 28px;
  font-weight: bold;
  color: #f62b5e;
  margin-bottom: 4px;
}
.b-screen_fourth__footer__content__right h6 {
  font-size: 22px;
  color: #f62b5e;
}
.b-screen_fourth__footer__content__right p {
  padding-top: 18px;
  border-top: 2px dotted #615f64;
  margin-top: 23px;
  font-size: 20px;
  line-height: 23px;
  color: #615f64;
}
.footer {
  font-size: 12px;
  color: #6f6f6f;
  background: #fff;
  padding: 30px 0;
}
.footer .wrapper {
  width: 100%;
  display: table;
}
.footer__item {
  display: table-cell;
  width: 33%;
}
.footer__item:first-child {
  text-align: left;
}
.footer__item:nth-child(2) {
  text-align: center;
}
.footer__item:last-child {
  text-align: right;
}
.footer__item p {
    line-height: 21px;
}
.b-overlay {
  background: rgba(0,0,0,.75);
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.b-overlay .b-action {
  margin-top: 150px;
}
.b-screen_msg {
   position: relative;
   height: 600px;
   z-index: 40;
   margin-top: 120px;
   padding: 37px 35px;
}
.b-screen_msg__block {
  width: 639px;
  height: 275px;
  background: #b18550;
  border-radius: 33px;
  color: #fff;
  padding: 104px 0px 0 0;
}
.b-screen_msg img {
  position: absolute;
  z-index: 41;
  right: 29px;
  top: 0;
}
.b-screen_msg__block strong {
  display: block;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 17px;
  text-align: center;
}
.b-screen_msg__block p {
  font-size: 20px;
  text-align: center;
}
.b-screen_msg_form {
  height: 670px;
  text-align: center;
  margin-top: 5px;
}
.b-screen_msg_form .b-screen_msg__block_top {
  height: 224px;
  width: 638px;
  border-top-right-radius: 33px;
  border-top-left-radius: 33px;
  background: #b18550;
  color: #fff;
  padding: 40px 10px 10px 10px;
}
.b-screen_msg_form h2 {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.b-screen_msg_form h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.b-screen_msg_form .b-screen_msg__block_top p {
    font-size: 16px;
    width: 412px;
    margin: 0 auto;
    margin-bottom: 22px;
    line-height: 17px;
}
.b-screen_msg_form .b-screen_msg__block_bottom {
  color: #805d33;
}
.b-screen_msg_form .b-screen_msg__block_bottom p {
  color: #000;
  width: 500px;
  margin: 0 auto;
}
.b-screen_msg_form .b-screen_msg__block_top strong {
  font-size: 18px;
  display: block;
  margin-bottom: 11px;
}
.b-screen_msg_form .b-screen_msg__block_top span {
  display: block;
  font-size:22px;
}
.b-screen_msg_form .b-screen_msg__block_bottom {
  height: 350px;
  width: 638px;
  border-bottom-right-radius: 33px;
  border-bottom-left-radius: 33px;
  background: #e4bf92;
  padding: 20px 10px 10px 10px;
}
.b-screen_msg_form .b-screen_msg__block_bottom h2 {
  color: #805d33;
}
.b-screen_msg_form label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  width: 471px;
  margin: 30px auto 35px;
}
.b-screen_msg_form .button_order {
  margin: 0 auto;
}
.b-screen_msg_form input {
    width: 326px;
    text-align: center;
    margin-bottom: 20px;
}
.b-screen_msg_form img {
    top: 117px;
  
    right: 39px;
}