.forumrow {
	display: -webkit-box; 
	display: -moz-box;        
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;
	-webkit-justify-content: space-between; 
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	padding: 30px 0 0px 0;
}
.forumrow__item {
	padding-left: 30px;
	height: 23px;
	display: inline-block;
	vertical-align: middle;
	background: url(img/forumrow_item-sprite.png) no-repeat;
}
.forumrow__item_simple {
	background-position: 0px 0px;
}
.forumrow__item_quiz {
	background-position: 0px -36px;
}
.forumrow__item_important {
	background-position: 0px -77px;
}
.forumrow__item_hot {
	background-position: 0px -119px;
}
.forumrow__item_close {
	background-position: 0px -168px;
}