.bubble_forum:before {
	content: "";
	position: absolute;
	left: 26px;
	top: -10px;
	width: 0;
	height: 0;
	border-bottom: 10px solid #7e7b77;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}
.bubble_forum:after {
	content: "";
	position: absolute;
	left: 26px;
	top: -8px;
	width: 0;
	height: 0;
	border-bottom: 10px solid #48433e;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}