@import url(_word/attachments__list__item_word.css);
@import url(_image/attachments__list__item_image.css);

.attachments__list__item {
	padding: 0 0 0 41px;
	min-height: 75px;
}
.attachments__list__item__title {
	font-size: 12px;
	color: rgba(255,255,255,.5);
	display: block;
}
.attachments__list__item p {
	font-size: 15px;
	color: #fff;
	margin: 0;
}
.attachments__list__item .button {
	width: 132px;
	height: 20px;
	font-size: 10px;
	padding: 3px 5px;
	margin-top: 3px;
}