@import url('__field/comments__field.css');
@import url('__item/comments__item.css');
@import url('__guest/comments__guest.css');
@import url('__more/comments__more.css');
@import url('__list/comments__list.css');
/*@import url('_friends/comments_friends.css');*/

.comments input, .comments textarea{
	width: 100%;
	color: #1b1917;
	font-size: 13px;
	border-radius: 3px;
	padding: 10px 8px;
	height: 60px;
	border: none;
	resize: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #1b1917;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    #1b1917;
	    opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    #1b1917;
	    opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    #1b1917;
	}
}
.comments input {
	padding: 3px;
}
.comments ul {
	margin: 0;
	padding: 0;
}
.comments h2 {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 20px;
	margin: 0px;
	color: #fff;
}
.comments .comments__header__item {
	color: rgba(255,255,255, .5);
	font-weight: normal;
	font-size: 15px;
	margin-left: 15px;
}
.comments .comments__guest__list {
	padding-left: 12px;
}