.list_forum li {	
	border-top: 1px solid rgba(255, 255, 255, 0.06);
	padding: 10px 0;
	line-height: 20px;
}
.list_forum li:first-child {
	border-top: none;
}
.list_forum li:last-child{
	/*border-bottom: none;*/
	padding: 16px 0 0px;
}
.list_forum .list_forum__userpic {
	float: left;
	width: 25px;
	/*height: 65px;*/
	overflow: hidden;
	padding: 5px 9px 0 0;
}
.list_forum .list_forum__userpic img{
	width: 100%;
}

.list_forum .list_forum__usernik {
	font-weight: 600;
	margin-right: 5px;
}
.list_forum .list_forum__date {
	color: #ece2d7
}
.list_forum .list_forum__section {
	font-weight: normal;
	margin-right: 5px;
}
.list_forum .list_forum__theme {
	color: #ece2d7;
}