.chat__users__item {
	/*background: url(img/chat__users__list.png) no-repeat left center;*/
	padding: 0 0 14px 0;
	line-height: 25px;
	cursor: pointer;
	list-style: none;
}
.chat__users__item__usernick {
	font-size: 14px;
	display: block;

}
.chat__users__item__rang {
	color: rgba(255, 255, 255, 0.5);
	font-size: 11px;
	display: block;
}
.chat__users__item__useravatar {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.chat__users__item__useravatar img {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}